body{
    background-image: url('./assets/bg.gif');
    overflow: hidden;
    background-size: cover;

}

#start-btn {
    padding: 0.9em 1.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
    border: 3px solid rgb(255, 255, 255);
    font-size: 14px;
    position: relative;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
  }
  
  #start-btn::before {
    content: "Box";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f70000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  #start-btn:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
  }
  
  #start-btn::after {
    content: "Box!";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
  }
  
  #start-btn:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
  }
  